@import url('css/style_estrutura_pagina.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

#geral {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f8efdb;
  padding: 20px;
  font-family: DM Serif Text;
}

#cabecalho {
    background-color: #d1af65;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 20px;
    height: 120px;
    width: 100%;

}
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 50px;
}

#menu ul img {
    width: 25px;
    height: 25px;
}

#menu a:link,
#menu a:visited {
    color: #7a650e;
    text-decoration: none;
    font-size: 1.9em;
    text-transform: lowercase;
}


#menu a:hover {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #7a650e;
}

#menu a:active {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #7a650e;
}


#logo {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #7a650e;
}
h1{
    color: #7a650e;
    font-size: 1.9em;

}

.btn-remover {
    background-color:  #94690e;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-remover:hover {
    background-color: #94690e;
}
#btn-continuar{
    width: 300px;
    padding: 8px;
    border: 1px solid #d1ac82;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    background-color: #d1af65;
    color: #362b07;
    font-size: 1.1em;
}
#btn-finalizar{
    width: 300px;
    padding: 8px;
    border: 1px solid #d1ac82;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    background-color: #d1af65;
    color: #362b07;
    font-size: 1.1em;
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;

    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}
.img-item img{
    width:180px;
    height:130px;
    object-fit: cover;
    border-radius:10px;
}
.descricao{
    font-size:22px;
    font-weight:bold;
    color:#5b3b07;
    margin-bottom:10px;
}
.valores{
    display:flex;
    align-items:center;
    gap:25px;
}
.input-item{
    width:60px;
    height:35px;
    text-align:center;
    font-size:18px;

    border-radius:8px;
    border:1px solid #ccc;
}
.img-remover img{
    width:17px;
    cursor:pointer;
    transition:.3s;
}

.img-remover img:hover{
    transform:scale(1.2);
   
}
.titulo-carrinho{
    font-size:40px;
    color:#8b6508;
    margin-bottom:30px;
}
.container-carrinho{
    width:900px;
    margin:40px auto;
}
h3{
    color: #7a650e;
    font-size: 1.9em;
}